// Save style values as variables
$myAlign: center;
$headGoat: 56%;
$backColor: #dfe6e9;

body {
  background-color: $backColor;
}

#header {
  margin-bottom: $headGoat;
}

.App {
  text-align: $myAlign;
}

// TODO: Make each note a card. USE MIXINS
@mixin card($width, $bg, $border) {
  width: $width;

  background: $bg;

  border: $border;
}
.note-card {
  @include card(50%, lightblue, black 1px dotted);
  margin-left: 25%;
  margin-bottom: 2%;
}
